/* slider Container */
.audio-slider-container{
    position: relative;
    height: 4px;
    width:100%;

}
/* slider RAnge */

.audio-slider-range{
    position: absolute;
width: 0;
height: 100%;;
background: rgb(12, 243, 12);
top:330%;
left:2px;
/* z-index: 1; */
}
/*
main slider input */
.audio-slider{
    -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: #999696;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.audio-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}
.audio-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
  }
  .audio-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
  }